@model SistemaSuporte.Models.RespostaIA

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RespostaIA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChamadoId" class="control-label"></label>
                <select asp-for="ChamadoId" class ="form-control" asp-items="ViewBag.ChamadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Prompt" class="control-label"></label>
                <input asp-for="Prompt" class="form-control" />
                <span asp-validation-for="Prompt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespostaGerada" class="control-label"></label>
                <input asp-for="RespostaGerada" class="form-control" />
                <span asp-validation-for="RespostaGerada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataGeracao" class="control-label"></label>
                <input asp-for="DataGeracao" class="form-control" />
                <span asp-validation-for="DataGeracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

